# Core Dependencies
langchain>=1.1.0
langchain-google-genai>=4.0.0
langchain-community>=0.4.0
langgraph>=1.0.0
faiss-cpu>=1.8.0
langchain-huggingface>=1.1.0  
sentence-transformers>=3.0.0  
tree-sitter==0.21.3
tree-sitter-python==0.21.0
tree-sitter-javascript==0.21.4

# UI
streamlit==1.39.0
streamlit-chat==0.1.1

# Utilities
python-dotenv==1.0.1
pyyaml==6.0.2
tqdm==4.66.5
GitPython==3.1.43
pygments==2.18.0
